* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

@layer utilities {
  .touchable {
    @apply cursor-pointer transition-all hover:opacity-90 active:scale-95;
  }

  .sized-card {
    @apply  shadow-lg
            sm:m-auto
            sm:w-3/4
            md:w-2/3
            lg:m-0
            lg:w-1/2
            xl:w-1/3;
  }

  .scroll-section {
    @apply mb-10 flex items-center gap-3 overflow-auto p-4;
  }
}

@layer components {
  .bg-gradient {
    background: theme('colors.primary');
    background: linear-gradient(
      0deg,
      theme('colors.secondary') 0%,
      theme('colors.primary') 100%
    );
  }

  .text-gradient {
    background: -webkit-linear-gradient(
      theme('colors.primary'),
      theme('colors.secondary')
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sk-100 {
    @apply animate-pulse rounded-md bg-skeleton-100;
  }

  .sk-200 {
    @apply animate-pulse rounded-md bg-skeleton-200;
  }
}
